#mo-url2qr-icon {
  list-style-image: url("chrome://cmimprove/skin/url2qr-icon.png");
}

@media (-moz-mac-lion-theme) and (min-resolution: 2dppx) {
  #mo-url2qr-icon {
    height: 16px;
    list-style-image: url("chrome://cmimprove/skin/url2qr-icon@2x.png");
  }
}

#mo-url2qr-popup > image,
#mo-url2qr-popup > hbox {
  margin: 0 20px;
}

#mo-url2qr-popup > hbox {
  height: 28px;
}

#mo-url2qr-popup > hbox:first-of-type {
  height: 42px;
}

#mo-url2qr-popup > hbox:last-of-type {
  margin-bottom: 10px;
}

#mo-url2qr-popup > hbox > label {
  color: #333;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
}

#mo-url2qr-popup > hbox:first-of-type > label {
  font-size: 18px;
}

#mo-url2qr-popup > hbox > label.text-link {
  color: #06c;
}
