@namespace html url(http://www.w3.org/1999/xhtml);

#addon-notification-popup .popup-notification-body {
  max-width: 24em;
  height: 3em;
}

#texts-notification-icon {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}
#notification-popup-box[anchorid="texts-notification-icon"] > #texts-notification-icon {
  display: -moz-box;
}

.popup-notification-icon[popupid="addon-notification-daytip"] {
  list-style-image: url("chrome://cmnotification/skin/info64.png");
}

.popup-notification-icon[popupid="addon-notification-addon"] {
  list-style-image: url("chrome://cmnotification/skin/discover64.png");
}

.popup-notification-icon[popupid="addon-notification-plugin"] {
  list-style-image: url("chrome://browser/skin/pluginInstall-64.png");
}

.popup-notification-icon[popupid="addon-notification-text"] {
  list-style-image: url("chrome://global/skin/icons/information-64.png");
}

#addon-notification-addon-notification,
#addon-notification-plugin-notification,
#addon-notification-text-notification,
#addon-notification-popup > popupnotification {
  -moz-binding: url("chrome://cmnotification/content/bindings.xml#addon-notification-popup");
}

#addon-notification-addon-notification .popup-notification-label,
#addon-notification-plugin-notification .popup-notification-label,
#addon-notification-text-notification .popup-notification-label,
#addon-notification-popup .popup-notification-label {
  font-size: 110%;
  font-weight: bold;
}

#addon-notification-addon-notification a,
#addon-notification-plugin-notification a,
#addon-notification-text-notification a,
#addon-notification-popup a {
  color: -moz-nativehyperlinktext;
  margin-left: 0.5em;
  text-decoration: underline;
}

#addon-notification-addon-notification .text-link-gray,
#addon-notification-plugin-notification .text-link-gray,
#addon-notification-text-notification .text-link-gray,
#addon-notification-popup .text-link-gray {
  color: gray;
}

#addon-notification-addon-notification .text-link-gray:hover,
#addon-notification-plugin-notification .text-link-gray:hover,
#addon-notification-text-notification .text-link-gray:hover,
#addon-notification-popup .text-link-gray:hover {
  color: -moz-nativehyperlinktext;
}

#addon-notification-addon-notification .popup-notification-button-container,
#addon-notification-plugin-notification .popup-notification-button-container,
#addon-notification-text-notification .popup-notification-button-container,
#addon-notification-popup .popup-notification-button-container {
  border-top: 1px solid #c9c9c9;
  padding-top: 10px;
}
