<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ranzhi Test Suite" verbose="3">
    <listeners>
        <listener class-name="ExtentReporterNgListener"/>
    </listeners>
    <test name="Ranzhi tests">
        <classes>
            <class name="RanzhiAdvancedTests">
                <methods>
                    <include name="testAddMember"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>